.container{
    /* display: relative; */
    background-color: rgb(182, 80, 80);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right:auto;
}
.parent{
    display: flex;
    flex-wrap:wrap;
    justify-content:center ;
    /*       تستخدم عشان تظبط الكونتنت ف ناحيه واحده زي التيكست الاين */
    margin-bottom: 5px;
    width:220px; 

}
.child{
    margin-right:5px;
    /* width:300px; */
    /* ضروري يبقي للعناصر عرض اكبر او يساوي البيرانت عشان تقدر تستفيد من خاصيه الراب  */
    
    background-color:grey;

}
/* .child:nth-child(3){
    background-color:rgb(40, 60, 140);

} */
.parent2{
    display:flex;
    flex-wrap:wrap;
    
}